<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= link_to "New category", new_category_path, class: "btn btn-primary" %><br><br>

<% @categories.each do |category| %>
  <div>
    <strong>ID:</strong> <%= category.id %><br>
    <strong>Name:</strong> <%= category.name %><br>
    <strong>Description:</strong> <%= category.description %><br>
  </div>
  <div>
    <%= link_to 'Show this category', category %>
  </div>
<% end %>
