<h1>Reports</h1>
<!--<p>Find me in app/views/reports/index.html.erb</p>
<form action="report" method="GET">
  start: <input type="date" name="start_date">
  end: <input type="date" name="end_date">
  <br>
  <input type="submit" name="btn_cat" value="btn_cat">
  <input type="submit" name="btn_date" value="btn_date">
</form>-->

<h1 style="color: blue;">Звіти</h1>

<h3>Поточні категорії:</h3>
<!--<% @categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>-->
<% @categories.each do |category| %> <p><%= category.name %></p> <% end %>

<!--<h1>Кількість операцій:</h1>
<p><%= @operations_count %></p>-->
<h3>Кількість операцій: <%= @operations_count %></h3>
<%= form_tag do %>

  <div class="field">
    <%= label_tag :category, "Звіт по категорії" %>
    <%= select_tag :category, options_for_select(Category.pluck(:name)) %><br>
  </div>

  <div class="field">
  <%= label_tag :start_date, "Дата початку" %>
  <%= text_field_tag :start_date, nil, class: 'datepicker' %><br>
  </div>

  <div class="field">
    <%= label_tag :end_date, "Дата закінчення" %>
    <%= text_field_tag :end_date, nil, class: "datepicker" %><br>
  </div>

  <%= submit_tag "Звіт по категорії", name: "report_by_category" %>
  <%= submit_tag "Звіт по датам", name: "report_by_dates" %><br>
  <% end %>

<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>
