<!DOCTYPE html>
<html>
  <head>
    <title>FinanceManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Підключення CSS Bootstrap через CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <!-- Підключення JavaScript Bootstrap через CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  
  <!-- Підключення jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <%# <!-- Підключення jQuery UI -->
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"> %>

   

  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
        <%= yield %>
    <div class="col-lg-4">
    <%= render 'shared/footer' %>
  </body>
</html>

