<tr id="<%= dom_id operation %>">
  <td><%= operation.id %></td>
  <td><%= operation.category.name %></td>
  <td class="text-muted"><%= operation.odate %></td>
  <td><%= operation.description %></td>
  <td><%= operation.amount %> UAH</td>
  <td><%= link_to "", operation, :class => "card-link bi bi-eye-fill" %></td>
</tr>
